html body {

	margin: 0;
	font-family: sans-serif, arial, helvetica;
	color: green;

}

header {


}

body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
  padding-top: 11px;
  cursor: pointer;
}

.menu li {
  display: inline;
  margin-right: 30px;
}

.nav {
  height: 40px;
  background: #82FF00;
  
}

.tipos-ph {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
  width: 115px;
  padding-top: 11px;
  border: 2px solid grey;
  border-radius: 8px;
  background: blue;
  padding-bottom: 10px;
  border-bottom-width: thick;
  border-left-width: thick;
  
}

.tipos-ph li {
  padding: 3px;
}

.nav:hover .ph {
  display: block;
}

.ph {
  display: none;
  position: absolute;
  top: 40px;
  left: 5px;
}

.products {

	display: flex;
	justify-content: center;
}



.box {
	width: 150px;
	height: 150px;
	margin: 20px;
	background: limegreen;
	border-radius: 50%;

}